header.header.black-bg
  .sidebar-toggle-box
    .fa.fa-bars.tooltips(data-placement="right", data-original-title="Toggle Navigation")
  // logo start
  a.logo(href="index.html")
    b Complaint Management System
  
  .top-menu
    ul.nav.pull-right.top-menu
      li
        a.logout Logout
