doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title FUPRE SUG CMS
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/half-slider.css', rel='stylesheet')

  body
    // Navigation
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') FUPRE SUG CMS

        // Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse#bs-example-navbar-collapse-1
          ul.nav.navbar-nav
            li
              a(href='/login') User Login
            li
              a(href='/signup') User Registration
            li
              a(href='/admin-login') admin

    // Half Page Image Background Carousel Header
    header#myCarousel.carousel.slide
      // Indicators
      ol.carousel-indicators
        li(data-target='#myCarousel', data-slide-to='0', class='active')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')

      // Wrapper for Slides
      div.carousel-inner
        div.item.active
          // Set the second background image using inline CSS below.
          div.fill(style="background-image:url('/img/homecarousel3.jpg')")
          div.carousel-caption

        div.item
          // Set the third background image using inline CSS below.
          div.fill(style="background-image:url('/img/c2.jpg')")
          div.carousel-caption

        div.item
          // Set the third background image using inline CSS below.
          div.fill(style="background-image:url('/img/homecarousel3.jpg')")
          div.carousel-caption

      // Controls
      a.left.carousel-control(href='#myCarousel', data-slide='prev')
        span.icon-prev

      a.right.carousel-control(href='#myCarousel', data-slide='next')
        span.icon-next

    // Page Content
    .container
      .row
        .col-lg-12
          .com
            h1
              b WELCOME TO FUPRE-SUG COMPLAINT MANAGEMENT SYSTEM
            p
              h2 Your Voice Matters, Your Complaints Count
              br
              b
                i Have a concern or complaint? Use our platform to share your thoughts and contribute to the improvement of our campus community
            br
            p
              h2 Together We Build
              br
              b
                i Join us in fostering a collaborative environment. Your participation helps us address challenges and create positive changes in our university community
                br
                |  Sign Up Today!.      

      hr

      // Footer
      footer
        .row
          .col-lg-12
            p Copyright &copy; 2024 FUPRE-SUG CMS

    // jQuery
    script(src='/js/jquery.js')

    // Bootstrap Core JavaScript
    script(src='/js/bootstrap.min.js')

    // Script to Activate the Carousel
    script.
      $('.carousel').carousel({
          interval: 5000 //changes the speed
      })
